**** 
### Busca todas las tablas que tenga el nombre de gestion y las que no tenga "_" y muestra su create table

In [1]:
import sqlite3

# Ruta de la base de datos SQLite
database_path = '../../../testtpv.sqlite3'

# Conexi√≥n a la base de datos
conn = sqlite3.connect(database_path)
cursor = conn.cursor()

# Obtener lista de tablas
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Recorrer las tablas
for table in tables:
    table_name = table[0]
    # Verificar si el nombre de la tabla contiene "gestion_" y no contiene "_"
    if "gestion_" in table_name or "_" not in table_name:
        # Obtener el c√≥digo CREATE TABLE
        cursor.execute(f"SELECT sql FROM sqlite_master WHERE type='table' AND name='{table_name}';")
        create_table_query = cursor.fetchone()[0]
        
        print(create_table_query)
        print("-" * 20)

# Cerrar la conexi√≥n a la base de datos
conn.close()

CREATE TABLE "camareros" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Nombre" varchar(100) NOT NULL, "Apellidos" varchar(100) NOT NULL, "Email" varchar(50) NULL, "Pass" varchar(100) NULL, "Activo" integer NOT NULL, "Autorizado" integer NOT NULL, "Permisos" varchar(150) NULL)
--------------------
CREATE TABLE "gestion_iconchoices" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT)
--------------------
CREATE TABLE "mesas" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Nombre" varchar(50) NOT NULL, "Orden" integer NOT NULL)
--------------------
CREATE TABLE "gestion_permisoschoices" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT)
--------------------
CREATE TABLE "receptores" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Nombre" varchar(40) NOT NULL, "nomImp" varchar(40) NOT NULL, "Activo" bool NOT NULL, "Descripcion" varchar(200) NOT NULL)
--------------------
CREATE TABLE "secciones" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Nombre" varchar(50) NOT NULL, "RGB" varchar(11) NOT NULL, "Orden" integer NOT NULL)
--------------------
CREATE TABLE "gestion_sync" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(50) NOT NULL, "last" varchar(26) NOT NULL)
--------------------
CREATE TABLE "teclas" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Nombre" varchar(50) NOT NULL, "P1" decimal NOT NULL, "P2" decimal NOT NULL, "Orden" integer NOT NULL, "Tag" varchar(100) NOT NULL, "TTF" varchar(50) NOT NULL, "Descripcion_r" varchar(300) NULL, "Descripcion_t" varchar(300) NULL, "tipo" varchar(2) NOT NULL, "IDFamilia" integer NOT NULL REFERENCES "familias" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "zonas" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Nombre" varchar(50) NOT NULL UNIQUE, "Tarifa" integer NOT NULL, "RGB" varchar(50) NOT NULL)
--------------------
CREATE TABLE "ticketlineas" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "IDLinea" integer NOT NULL REFERENCES "lineaspedido" ("ID") DEFERRABLE INITIALLY DEFERRED, "IDTicket" integer NOT NULL REFERENCES "ticket" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "teclaseccion" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "IDSeccion" integer NOT NULL REFERENCES "secciones" ("ID") DEFERRABLE INITIALLY DEFERRED, "IDTecla" integer NOT NULL REFERENCES "teclas" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "teclascom" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Orden" integer NOT NULL, "IDSeccion" integer NOT NULL REFERENCES "secciones_com" ("ID") DEFERRABLE INITIALLY DEFERRED, "IDTecla" integer NULL REFERENCES "teclas" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "sugerencias" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Sugerencia" varchar(300) NOT NULL, "IDTecla" integer NOT NULL REFERENCES "teclas" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "subteclas" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "nombre" varchar(100) NULL, "incremento" decimal NULL, "Descripcion_r" varchar(300) NULL, "Descripcion_t" varchar(300) NULL, "Orden" integer NOT NULL, "IDTecla" integer NOT NULL REFERENCES "teclas" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "servidos" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "IDLinea" integer NOT NULL REFERENCES "lineaspedido" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "gestion_peticionesautoria" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "accion" varchar(150) NOT NULL, "instrucciones" varchar(300) NOT NULL, "idautorizado_id" integer NOT NULL REFERENCES "camareros" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "pedidos" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Hora" varchar(5) NOT NULL, "IDCam" integer NOT NULL, "uid_device" varchar(150) NOT NULL, "UID" varchar(100) NOT NULL REFERENCES "infmesa" ("UID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "mesaszona" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "IDMesa" integer NOT NULL REFERENCES "mesas" ("ID") DEFERRABLE INITIALLY DEFERRED, "IDZona" integer NOT NULL REFERENCES "zonas" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "mesasabiertas" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "UID" varchar(100) NOT NULL REFERENCES "infmesa" ("UID") DEFERRABLE INITIALLY DEFERRED, "IDMesa" integer NOT NULL REFERENCES "mesas" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "lineaspedido" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "IDArt" integer NOT NULL, "Estado" varchar(1) NOT NULL, "Precio" decimal NOT NULL, "Descripcion" varchar(400) NULL, "es_compuesta" bool NOT NULL, "cantidad" integer NOT NULL, "Descripcion_t" varchar(300) NULL, "UID" varchar(100) NOT NULL REFERENCES "infmesa" ("UID") DEFERRABLE INITIALLY DEFERRED, "IDPedido" integer NOT NULL REFERENCES "pedidos" ("ID") DEFERRABLE INITIALLY DEFERRED, "tecla_id" integer NULL REFERENCES "teclas" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "gestion_lineascompuestas" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "linea_compuesta" integer NOT NULL, "composicion_id" integer NOT NULL REFERENCES "composicionteclas" ("ID") DEFERRABLE INITIALLY DEFERRED, "linea_principal_id" integer NOT NULL REFERENCES "lineaspedido" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "historialnulos" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Hora" varchar(5) NOT NULL, "Motivo" varchar(200) NOT NULL, "IDCam" integer NOT NULL REFERENCES "camareros" ("ID") DEFERRABLE INITIALLY DEFERRED, "IDLPedido" integer NOT NULL REFERENCES "lineaspedido" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "gastos" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Descripcion" varchar(100) NOT NULL, "Importe" decimal NOT NULL, "IDArqueo" integer NOT NULL REFERENCES "arqueocaja" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "familias" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Nombre" varchar(40) NOT NULL, "Tipo" varchar(150) NOT NULL, "NumTapas" integer NULL, "IDReceptor" integer NOT NULL REFERENCES "receptores" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "efectivo" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Can" integer NOT NULL, "Moneda" decimal NOT NULL, "IDArqueo" integer NOT NULL REFERENCES "arqueocaja" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "composicionteclas" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "composicion" varchar(300) NOT NULL, "cantidad" integer NOT NULL, "IDTecla" integer NOT NULL REFERENCES "teclas" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "arqueocaja" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "Cambio" real NOT NULL, "Descuadre" real NOT NULL, "IDCierre" integer NOT NULL REFERENCES "cierrecaja" ("ID") DEFERRABLE INITIALLY DEFERRED)
--------------------
CREATE TABLE "cierrecaja" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "TicketCom" integer NOT NULL, "TicketFinal" integer NOT NULL, "Hora" varchar(5) NOT NULL, "Fecha" date NOT NULL)
--------------------
CREATE TABLE "gestion_historialmensajes" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "mensaje" varchar(300) NOT NULL, "hora" varchar(10) NOT NULL, "camarero_id" integer NOT NULL REFERENCES "camareros" ("ID") DEFERRABLE INITIALLY DEFERRED, "receptor_id" integer NOT NULL REFERENCES "receptores" ("ID") DEFERRABLE INITIALLY DEFERRED, "fecha" date NOT NULL)
--------------------
CREATE TABLE "infmesa" ("UID" varchar(100) NOT NULL PRIMARY KEY, "Hora" varchar(5) NOT NULL, "NumCopias" integer NOT NULL, "IDCam" integer NOT NULL REFERENCES "camareros" ("ID") DEFERRABLE INITIALLY DEFERRED, "Fecha" date NOT NULL)
--------------------
CREATE TABLE "ticket" ("ID" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "IDCam" integer NOT NULL, "Hora" varchar(5) NOT NULL, "Entrega" decimal NOT NULL, "UID" varchar(100) NOT NULL, "Mesa" varchar(40) NOT NULL, "url_factura" varchar(140) NOT NULL, "Fecha" date NOT NULL)
--------------------

 #### Busca todos la estrucura de datos y la devuelve en formato nombre tabla y sus columnas

In [3]:
import sqlite3

def get_all_tables(conn):
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    return [table[0] for table in tables if table[0].startswith('gestion_') or '_' not in table[0]]


def get_table_structure(conn, table_name):
    cursor = conn.cursor()
    cursor.execute(f"PRAGMA table_info({table_name})")
    return cursor.fetchall()

def main():
    conn = sqlite3.connect('../../../testtpv.sqlite3')  # replace 'my_database.db' with your db

    tables = get_all_tables(conn)
    for table in tables:
        print(f"Table {table}:")
        structure = get_table_structure(conn, table)
        for column in structure:
            print(column)

    conn.close()

In [4]:
main()

Table camareros:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Nombre', 'varchar(100)', 1, None, 0)
(2, 'Apellidos', 'varchar(100)', 1, None, 0)
(3, 'Email', 'varchar(50)', 0, None, 0)
(4, 'Pass', 'varchar(100)', 0, None, 0)
(5, 'Activo', 'INTEGER', 1, None, 0)
(6, 'Autorizado', 'INTEGER', 1, None, 0)
(7, 'Permisos', 'varchar(150)', 0, None, 0)
Table gestion_iconchoices:
(0, 'id', 'INTEGER', 1, None, 1)
Table mesas:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Nombre', 'varchar(50)', 1, None, 0)
(2, 'Orden', 'INTEGER', 1, None, 0)
Table gestion_permisoschoices:
(0, 'id', 'INTEGER', 1, None, 1)
Table receptores:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Nombre', 'varchar(40)', 1, None, 0)
(2, 'nomImp', 'varchar(40)', 1, None, 0)
(3, 'Activo', 'bool', 1, None, 0)
(4, 'Descripcion', 'varchar(200)', 1, None, 0)
Table secciones:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Nombre', 'varchar(50)', 1, None, 0)
(2, 'RGB', 'varchar(11)', 1, None, 0)
(3, 'Orden', 'INTEGER', 1, None, 0)
Table gestion_sync:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'nombre', 'varchar(50)', 1, None, 0)
(2, 'last', 'varchar(26)', 1, None, 0)
Table teclas:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Nombre', 'varchar(50)', 1, None, 0)
(2, 'P1', 'decimal', 1, None, 0)
(3, 'P2', 'decimal', 1, None, 0)
(4, 'Orden', 'INTEGER', 1, None, 0)
(5, 'Tag', 'varchar(100)', 1, None, 0)
(6, 'TTF', 'varchar(50)', 1, None, 0)
(7, 'Descripcion_r', 'varchar(300)', 0, None, 0)
(8, 'Descripcion_t', 'varchar(300)', 0, None, 0)
(9, 'tipo', 'varchar(2)', 1, None, 0)
(10, 'IDFamilia', 'INTEGER', 1, None, 0)
Table zonas:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Nombre', 'varchar(50)', 1, None, 0)
(2, 'Tarifa', 'INTEGER', 1, None, 0)
(3, 'RGB', 'varchar(50)', 1, None, 0)
Table ticketlineas:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'IDLinea', 'INTEGER', 1, None, 0)
(2, 'IDTicket', 'INTEGER', 1, None, 0)
Table teclaseccion:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'IDSeccion', 'INTEGER', 1, None, 0)
(2, 'IDTecla', 'INTEGER', 1, None, 0)
Table teclascom:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Orden', 'INTEGER', 1, None, 0)
(2, 'IDSeccion', 'INTEGER', 1, None, 0)
(3, 'IDTecla', 'INTEGER', 0, None, 0)
Table sugerencias:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Sugerencia', 'varchar(300)', 1, None, 0)
(2, 'IDTecla', 'INTEGER', 1, None, 0)
Table subteclas:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'nombre', 'varchar(100)', 0, None, 0)
(2, 'incremento', 'decimal', 0, None, 0)
(3, 'Descripcion_r', 'varchar(300)', 0, None, 0)
(4, 'Descripcion_t', 'varchar(300)', 0, None, 0)
(5, 'Orden', 'INTEGER', 1, None, 0)
(6, 'IDTecla', 'INTEGER', 1, None, 0)
Table servidos:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'IDLinea', 'INTEGER', 1, None, 0)
Table gestion_peticionesautoria:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'accion', 'varchar(150)', 1, None, 0)
(2, 'instrucciones', 'varchar(300)', 1, None, 0)
(3, 'idautorizado_id', 'INTEGER', 1, None, 0)
Table pedidos:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Hora', 'varchar(5)', 1, None, 0)
(2, 'IDCam', 'INTEGER', 1, None, 0)
(3, 'uid_device', 'varchar(150)', 1, None, 0)
(4, 'UID', 'varchar(100)', 1, None, 0)
Table mesaszona:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'IDMesa', 'INTEGER', 1, None, 0)
(2, 'IDZona', 'INTEGER', 1, None, 0)
Table mesasabiertas:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'UID', 'varchar(100)', 1, None, 0)
(2, 'IDMesa', 'INTEGER', 1, None, 0)
Table lineaspedido:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'IDArt', 'INTEGER', 1, None, 0)
(2, 'Estado', 'varchar(1)', 1, None, 0)
(3, 'Precio', 'decimal', 1, None, 0)
(4, 'Descripcion', 'varchar(400)', 0, None, 0)
(5, 'es_compuesta', 'bool', 1, None, 0)
(6, 'cantidad', 'INTEGER', 1, None, 0)
(7, 'Descripcion_t', 'varchar(300)', 0, None, 0)
(8, 'UID', 'varchar(100)', 1, None, 0)
(9, 'IDPedido', 'INTEGER', 1, None, 0)
(10, 'tecla_id', 'INTEGER', 0, None, 0)
Table gestion_lineascompuestas:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'linea_compuesta', 'INTEGER', 1, None, 0)
(2, 'composicion_id', 'INTEGER', 1, None, 0)
(3, 'linea_principal_id', 'INTEGER', 1, None, 0)
Table historialnulos:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Hora', 'varchar(5)', 1, None, 0)
(2, 'Motivo', 'varchar(200)', 1, None, 0)
(3, 'IDCam', 'INTEGER', 1, None, 0)
(4, 'IDLPedido', 'INTEGER', 1, None, 0)
Table gastos:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Descripcion', 'varchar(100)', 1, None, 0)
(2, 'Importe', 'decimal', 1, None, 0)
(3, 'IDArqueo', 'INTEGER', 1, None, 0)
Table familias:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Nombre', 'varchar(40)', 1, None, 0)
(2, 'Tipo', 'varchar(150)', 1, None, 0)
(3, 'NumTapas', 'INTEGER', 0, None, 0)
(4, 'IDReceptor', 'INTEGER', 1, None, 0)
Table efectivo:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Can', 'INTEGER', 1, None, 0)
(2, 'Moneda', 'decimal', 1, None, 0)
(3, 'IDArqueo', 'INTEGER', 1, None, 0)
Table composicionteclas:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'composicion', 'varchar(300)', 1, None, 0)
(2, 'cantidad', 'INTEGER', 1, None, 0)
(3, 'IDTecla', 'INTEGER', 1, None, 0)
Table arqueocaja:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'Cambio', 'REAL', 1, None, 0)
(2, 'Descuadre', 'REAL', 1, None, 0)
(3, 'IDCierre', 'INTEGER', 1, None, 0)
Table cierrecaja:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'TicketCom', 'INTEGER', 1, None, 0)
(2, 'TicketFinal', 'INTEGER', 1, None, 0)
(3, 'Hora', 'varchar(5)', 1, None, 0)
(4, 'Fecha', 'date', 1, None, 0)
Table gestion_historialmensajes:
(0, 'id', 'INTEGER', 1, None, 1)
(1, 'mensaje', 'varchar(300)', 1, None, 0)
(2, 'hora', 'varchar(10)', 1, None, 0)
(3, 'camarero_id', 'INTEGER', 1, None, 0)
(4, 'receptor_id', 'INTEGER', 1, None, 0)
(5, 'fecha', 'date', 1, None, 0)
Table infmesa:
(0, 'UID', 'varchar(100)', 1, None, 1)
(1, 'Hora', 'varchar(5)', 1, None, 0)
(2, 'NumCopias', 'INTEGER', 1, None, 0)
(3, 'IDCam', 'INTEGER', 1, None, 0)
(4, 'Fecha', 'date', 1, None, 0)
Table ticket:
(0, 'ID', 'INTEGER', 1, None, 1)
(1, 'IDCam', 'INTEGER', 1, None, 0)
(2, 'Hora', 'varchar(5)', 1, None, 0)
(3, 'Entrega', 'decimal', 1, None, 0)
(4, 'UID', 'varchar(100)', 1, None, 0)
(5, 'Mesa', 'varchar(40)', 1, None, 0)
(6, 'url_factura', 'varchar(140)', 1, None, 0)
(7, 'Fecha', 'date', 1, None, 0)

### Crea un json con la estructrua de base de datos.

In [ ]:
import sqlite3
import os 

def get_create_table_statements(database_name):
    # Con√©ctate a la base de datos SQLite
    con = sqlite3.connect(database_name)

    # Crea un cursor
    cur = con.cursor()

    # Obt√©n el nombre de todas las tablas
    cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
    tables = cur.fetchall()

    create_statements = {}
   
    for table in tables:
        table = table[0]
        if "gestion_" in table or "_" not in table:
            # Obt√©n la sentencia CREATE TABLE
            cur.execute(f"SELECT sql FROM sqlite_master WHERE type='table' AND name='{table}';")
            row = cur.fetchone()
            if row is not None:
                create_statement = row[0]
                create_statements[table] = create_statement

    # Cierra la conexi√≥n
    con.close()

    return create_statements


path = "../../../testtpv.sqlite3"

print(get_create_table_statements(path))

### Busca modelos en la frase y devuelve una lista con los modelos necesarios

In [ ]:
import inflect

def find_models_in_phrase(phrase):
    # Define la lista de modelos
    models = [
        "camareros", "gestion_iconchoices", "mesas", "gestion_permisoschoices",
        "receptores", "secciones", "gestion_sync", "teclas", "zonas",
        "ticketlineas", "teclaseccion", "teclascom", "sugerencias", "subteclas",
        "servidos", "gestion_peticionesautoria", "pedidos", "mesaszona",
        "mesasabiertas", "lineaspedido", "gestion_lineascompuestas", "historialnulos",
        "gastos", "familias", "efectivo", "composicionteclas", "arqueocaja",
        "cierrecaja", "gestion_historialmensajes", "infmesa", "ticket"
    ]

    # Inicializar el objeto de inflect
    p = inflect.engine()
    
    # Crear un diccionario de todas las formas posibles de los modelos (singular y plural)
    all_models = {}
    for model in models:
        all_models[model] = model  # A√±ade la versi√≥n en plural
        singular_model = p.singular_noun(model)  # A√±ade la versi√≥n en singular
        if singular_model:  # La funci√≥n singular_noun devuelve False si no puede singularizar
            all_models[singular_model] = model  # Asigna la versi√≥n en singular al plural original
    
    # Convertir la frase a min√∫sculas
    phrase = phrase.lower()
    
    # Inicializar la lista de modelos encontrados
    found_models = []
    
    # Verificar si cada modelo est√° en la frase
    for model, original_model in all_models.items():
        if model in phrase and original_model not in found_models:
            found_models.append(original_model)
            
    # Si no se encontr√≥ ning√∫n modelo, devolver "nono"
    if not found_models:
        return "nono"
    
    # Devolver la lista de modelos encontrados
    return found_models

# Prueba la funci√≥n
print(find_models_in_phrase("La lista de camareros y gestiones_syncs son importantes."))
print(find_models_in_phrase("Dime el nombre del primer camarero."))

In [4]:
import json

result = []
with open("instruccion_db.json", "r") as f:
    datos = json.loads(f.read())
    for d in datos:
        if type(d["completion"]) is str:
            result.append({"input":d["prompt"], "output":d["completion"]})

with open("str_tes.json", "w") as f:
    f.write(json.dumps(result))

In [4]:
import json
import re

# Cargamos los datos JSON
with open('instruccion_db.json', 'r') as f:
    data = json.load(f)

sql_data = []
other_data = []

# B√∫squeda de consultas SQL en las completion
for item in data:
    # Aseg√∫rate de que el texto sea insensible a may√∫sculas y min√∫sculas
    if type(item["completion"]) is str and re.search(r'\b(SELECT|INSERT|UPDATE|DELETE|CREATE|ALTER|DROP)\b', item['completion'], re.IGNORECASE):
        sql_data.append(item)
    else:
        other_data.append(item)

# Guardar los datos de SQL en un fichero JSON
with open('ejemplos_sql.json', 'w') as f:
    json.dump(sql_data, f, indent=4)

# Guardar los otros datos en un fichero JSON
with open('instrucciones.json', 'w') as f:
    json.dump(other_data, f, indent=4)

In [ ]:
import json

with open("ejemplos_sql_editable.json", "r") as f:
    obj = json.loads(f.read())

salida = []

for o in obj:
    salida.append({"input":o["prompt"], "output":o["completion"]})


with open("ejemplos_sql.json", "w") as f:
    f.write(json.dumps(salida))